.results-card {
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 10px 5px 5px #222222;
    border-radius: 10px;
    background-color: #111111;
    min-height: 31em;
    max-height: 38em;
    position: relative;
    top: 2em;
    color: #bdbdbd;
}

.results-card-title {
    position: relative;
    bottom: 0.5em;
    margin: 1em 0 1.5em 0;
    font-size: 2em;
}

.tmdb {
    margin-top: 5px;
    margin-right: 100px;
}

.favorite-added {
    position: absolute;
    left: 7em;
    bottom: .25em;
    color: #cfb53b;
    display: none; 
}