.celeb-favorite-added {
  position: absolute;
  left: 23em;
  bottom: -6.5em;
  color: #cfb53b;
  display: none;
}

/* .celeb-search-fail {
  color: white;
  margin-left: 1em;
  display: none;
  position: fixed;
} */

.celeb-search-fail, .celeb-search-empty {
  color: red;
  margin-left: 1em;
  top: 5em;
  display: none;
  position: fixed;
}

input[type=text], button {
  margin-top: 1em;
}

input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #cfb53b !important;
  box-shadow: 0 1px 0 0 #cfb53b !important;
}

.frame {
  border: #212121 2px solid;
  margin-left: 20px
}

.title {
  color: #cfb53b;
  font-size: 1.25em
}

.known {
  width: 70px;
  height: 95px;
  float: left;
  margin-right: 1em;
  margin-left: 1em;
  border: solid 2px #212121;
  color: #bdbdbd;
}

.trending-celeb-images {
  width: 70px;
  height: 95px;
  float: left;
  margin-right: .8em;
  margin-left: .8em;
  border: solid 2px #212121;
  color: #bdbdbd;
}

.trending-celeb-images2 {
  width: 125px;
  height: 185px;
  float: left;
  margin-right: .7em;
  margin-left: .7em;
  border: solid 2px #212121;
  color: #bdbdbd;
}

.celeb-profile-pic {
  width: 400px;
  height: 600px;
  border: solid 2px #212121;
}

.celeb-biography, .celeb-appearances-overview {
  color: #bdbdbd;
  background: #111111;
  box-shadow: 10px 5px 5px #222222;
  padding: 30px 30px 70px 30px;
  border-radius: 10px;
  transition: all 0.3s;
  position: relative;
  margin-bottom: 2em;
}

.celeb-appearances-overview {
  width: 575px;
}

.celeb-name, .default-text {
  color: #bdbdbd;
}

.celeb-name {
  margin-top: .25em;
  font-size: 40px;
  padding: 5px
}

.biography-title, .appearances-title {
  color: #cfb53b;
  margin-bottom: 1em;
  font-size: 1.25em
}

.trending-celeb-title {
  color: #cfb53b;
  margin-bottom: 1em;
  font-size: 1.25em
}

.celeb-result-btns {
  position: relative;
  right: 1.5em;
  border: 1px solid #cfb53b;
  text-align: center;
  padding: .5em 0 0 .15em;
  width: 150px;
  float: right;
}

.favorite, .notify, .watch {
  margin-right: 0.4em;
  font-size: 1.15em;
}

.favorite, .notify, .watch, .remove {
  cursor: pointer;
  color: lightGray;
}

.remove {
  float: right;
}

.remove:hover {
  color: red;
}

.favorite:hover {
  color: #cfb53b;
}

.notify:hover, .watch:hover {
  color: green;
}

.celeb-welcome-title {
  color: #cfb53b;
}

.celeb-welcome-images {
  width: 75px;
  height: 95px;
}

.celeb-welcome-images-div {
  width: 20em;
  margin-left: 3em;
}

.celeb-welcome {
  color: #bdbdbd;
}

.celeb-welcome-div {
  width: 23em;
  position: relative;
}

.celeb-title-center {
  margin-left: 2.25em;
}