@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: #fefefe;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: auto;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #111111;
  box-shadow: 10px 5px 5px #222222;
  padding: 40px 55px 45px 55px;
  border-radius: 10px;
  transition: all 0.3s;
}

/* .auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
} */

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #cfb53b
}

h3 {
  color: white;
}

.btn {
  color: #cfb53b;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none
}

.btn:hover {
  background-color: #424242;
}


input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #cfb53b !important;
  box-shadow: 0 1px 0 0 #cfb53b !important;
}



/* app */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}